.flows_localhost.localdomain.json.backup
[{"id":"f20148e8.b2d748","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cfca8e9.6e1ec8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"66699563.3a72fc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c85ee444.91518","type":"mqtt-broker","z":"","name":"localBroker","broker":"localhost","port":"1883","clientid":"node_red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eedec10.9a2dac","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c5f98fc7.32882","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"1ef1004d.a7fc48","type":"ui_group","z":"","name":"display","tab":"619cc2f9.ebf914","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c30fd5e.e8d624","type":"ui_group","z":"","name":"gauge","tab":"619cc2f9.ebf914","order":2,"disp":true,"width":"6","collapse":false},{"id":"619cc2f9.ebf914","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7c2568d0.e23398","type":"remote-server","z":"","name":"elasticsearch","host":"http://localhost","port":"9200"},{"id":"29da253c.78593a","type":"debug","z":"f20148e8.b2d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":580,"wires":[]},{"id":"51fd90d6.47bc4","type":"comment","z":"f20148e8.b2d748","name":"Authentication","info":"Here we are creating the headers required to authenticate\nvia the rest api.","x":110,"y":60,"wires":[]},{"id":"bd123999.316ba","type":"function","z":"f20148e8.b2d748","name":"Number","func":"p=msg.payload;\n//node.log(typeof p);\nmsg.payload=Number(p.value);\n//msg.payload=p.value;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["c8db3b62.ad088"]]},{"id":"3d270968.e6ee06","type":"inject","z":"f20148e8.b2d748","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["e1b0fa15.261908","abcfafac.70478"]]},{"id":"e8632865.8647f","type":"json","z":"f20148e8.b2d748","name":"","property":"payload","action":"","pretty":false,"x":650,"y":120,"wires":[["bd123999.316ba"]]},{"id":"8d020a6c.093eb","type":"http request","z":"f20148e8.b2d748","name":"","method":"GET","ret":"txt","url":"http://{{device_IP}}:8080/api/rest/v1/protocols/bacnet/local/objects/analog-value/{{zoneTemp}}/properties/present-value","tls":"","x":490,"y":200,"wires":[["f8331793.3cdb5"]]},{"id":"3c3f64d1.70de74","type":"function","z":"f20148e8.b2d748","name":"Number","func":"p=msg.payload;\nnode.log(typeof p);\nmsg.payload=Number(p.value);\n//msg.payload=p.value;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["b7071fcd.fe136"]]},{"id":"f8331793.3cdb5","type":"json","z":"f20148e8.b2d748","name":"","property":"payload","action":"","pretty":false,"x":650,"y":200,"wires":[["3c3f64d1.70de74"]]},{"id":"830ec9ba.1b5e7","type":"http request","z":"f20148e8.b2d748","name":"","method":"POST","ret":"txt","url":"172.16.10.159/api/rest/v1/protocols/bacnet/local/objects/analogValue/47/properties/presentValue/","tls":"","x":350,"y":520,"wires":[["984336f1.433508"]]},{"id":"5c8cac1.12ba654","type":"inject","z":"f20148e8.b2d748","name":"setpoint","topic":"","payload":"{\"value\":\"900\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["830ec9ba.1b5e7"]]},{"id":"b3ea0620.aeaf18","type":"mqtt out","z":"f20148e8.b2d748","name":"airFlow","topic":"/building/vav1/airFlow","qos":"0","retain":"true","broker":"c85ee444.91518","x":1140,"y":120,"wires":[]},{"id":"95ab96d0.c6503","type":"mqtt out","z":"f20148e8.b2d748","name":"zoneTemp","topic":"/building/vav1/zoneTemp","qos":"0","retain":"true","broker":"c85ee444.91518","x":1190,"y":320,"wires":[]},{"id":"15f34799.4acdf8","type":"mqtt in","z":"f20148e8.b2d748","name":"","topic":"/global/setting/#","qos":"2","broker":"c85ee444.91518","x":120,"y":460,"wires":[["b2475ad6.d66ac"]]},{"id":"94d731f7.ea8808","type":"inject","z":"3cfca8e9.6e1ec8","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["365c3434.ecb294"]]},{"id":"365c3434.ecb294","type":"mqtt out","z":"3cfca8e9.6e1ec8","name":"globalFlow","topic":"/global/setting/flow","qos":"","retain":"","broker":"c85ee444.91518","x":500,"y":80,"wires":[]},{"id":"ee1622a.802a06","type":"ui_gauge","z":"f20148e8.b2d748","name":"","group":"6c30fd5e.e8d624","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"F","format":"{{value}}","min":"30","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"85","x":1170,"y":380,"wires":[]},{"id":"5aaf2c60.dbd394","type":"ui_gauge","z":"f20148e8.b2d748","name":"","group":"6c30fd5e.e8d624","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"cfm","format":"{{value}}","min":"100","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"900","x":1150,"y":180,"wires":[]},{"id":"d174a999.a874d8","type":"http request","z":"f20148e8.b2d748","name":"","method":"GET","ret":"txt","url":"http://172.16.10.159/api/rest/v1/protocols/bacnet/local/objects/analog-value/2/trend?encode=json&iso8601=true","tls":"","x":330,"y":600,"wires":[["ad3adb88.55f788"]]},{"id":"ad3adb88.55f788","type":"json","z":"f20148e8.b2d748","name":"","property":"payload","action":"","pretty":false,"x":530,"y":600,"wires":[["cdd7ae2e.2a6e68"]]},{"id":"68755e01.0cd47","type":"inject","z":"f20148e8.b2d748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["d174a999.a874d8"]]},{"id":"34c7a89b.9abcb","type":"ui_text","z":"f20148e8.b2d748","group":"1ef1004d.a7fc48","order":2,"width":0,"height":0,"name":"","label":"Air Flow","format":"{{msg.payload}}","layout":"col-center","x":1160,"y":220,"wires":[]},{"id":"e8b72200.0d626","type":"ui_text","z":"f20148e8.b2d748","group":"1ef1004d.a7fc48","order":2,"width":0,"height":0,"name":"","label":"Zone Temp","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":440,"wires":[]},{"id":"1c6f1078.ba6f2","type":"http request","z":"f20148e8.b2d748","name":"","method":"GET","ret":"txt","url":"http://{{device_IP}}:8080/api/rest/v1/protocols/bacnet/local/objects/analog-value/{{airFlow}}/properties/present-value","tls":"","x":490,"y":120,"wires":[["e8632865.8647f"]]},{"id":"f6750121.66d398","type":"function","z":"f20148e8.b2d748","name":"Post data to elasticsearch cluster","func":"var timestamp = new Date();\nvar value = msg.payload;\nmsg.payload = {  \n    \"name\": \"ZoneTemp\",  \n    \"equpRef\": \"rh_1_01\",  \n    \"value\": value,  \n    \"timestamp\": timestamp,  \n    \"tags\": [\"zone\", \"air\", \"temp\", \"device1Ref\"]  \n    }\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["cb41b17f.b7d54"]]},{"id":"cb41b17f.b7d54","type":"http request","z":"f20148e8.b2d748","name":"","method":"POST","ret":"txt","url":"localhost:9200/point/_doc/","tls":"","x":690,"y":360,"wires":[["8a5fa355.adc598"]]},{"id":"9ed65953.b1134","type":"link in","z":"f20148e8.b2d748","name":"","links":["b7071fcd.fe136"],"x":195,"y":360,"wires":[["f6750121.66d398"]]},{"id":"b7071fcd.fe136","type":"link out","z":"f20148e8.b2d748","name":"zoneTemp","links":["9ed65953.b1134","d2996735.2aabe","9285105b.fa89d8","59f480f3.b90e28","45ebb512.0990dc"],"x":935,"y":200,"wires":[]},{"id":"d2996735.2aabe","type":"link in","z":"f20148e8.b2d748","name":"","links":["b7071fcd.fe136"],"x":1035,"y":440,"wires":[["e8b72200.0d626"]]},{"id":"9285105b.fa89d8","type":"link in","z":"f20148e8.b2d748","name":"","links":["b7071fcd.fe136"],"x":1035,"y":380,"wires":[["ee1622a.802a06"]]},{"id":"59f480f3.b90e28","type":"link in","z":"f20148e8.b2d748","name":"","links":["b7071fcd.fe136"],"x":1035,"y":320,"wires":[["95ab96d0.c6503"]]},{"id":"8a5fa355.adc598","type":"link out","z":"f20148e8.b2d748","name":"debug","links":["45ebb512.0990dc"],"x":855,"y":360,"wires":[]},{"id":"45ebb512.0990dc","type":"link in","z":"f20148e8.b2d748","name":"","links":["8a5fa355.adc598","b7071fcd.fe136","c8db3b62.ad088","b2475ad6.d66ac","984336f1.433508","cdd7ae2e.2a6e68"],"x":975,"y":580,"wires":[["29da253c.78593a"]]},{"id":"c8db3b62.ad088","type":"link out","z":"f20148e8.b2d748","name":"airFlow","links":["ba33c49e.da0728","ac2ba26a.ac3928","bdd72db5.423598","45ebb512.0990dc"],"x":935,"y":120,"wires":[]},{"id":"ba33c49e.da0728","type":"link in","z":"f20148e8.b2d748","name":"","links":["c8db3b62.ad088"],"x":1035,"y":120,"wires":[["b3ea0620.aeaf18"]]},{"id":"ac2ba26a.ac3928","type":"link in","z":"f20148e8.b2d748","name":"","links":["c8db3b62.ad088"],"x":1035,"y":180,"wires":[["5aaf2c60.dbd394"]]},{"id":"bdd72db5.423598","type":"link in","z":"f20148e8.b2d748","name":"","links":["c8db3b62.ad088"],"x":1035,"y":220,"wires":[["34c7a89b.9abcb"]]},{"id":"b2475ad6.d66ac","type":"link out","z":"f20148e8.b2d748","name":"debug","links":["45ebb512.0990dc"],"x":275,"y":460,"wires":[]},{"id":"984336f1.433508","type":"link out","z":"f20148e8.b2d748","name":"debug","links":["45ebb512.0990dc"],"x":495,"y":520,"wires":[]},{"id":"cdd7ae2e.2a6e68","type":"link out","z":"f20148e8.b2d748","name":"debug","links":["45ebb512.0990dc"],"x":675,"y":600,"wires":[]},{"id":"1383dfc2.a5fe48","type":"http request","z":"66699563.3a72fc","name":"","method":"GET","ret":"txt","url":"http://{{device_IP}}:8080/api/rest/v1/protocols/bacnet/local/objects/analog-value/{{airFlow}}/properties/present-value","tls":"","x":670,"y":80,"wires":[["636815ca.4de174"]]},{"id":"2caaf468.ad1cac","type":"inject","z":"66699563.3a72fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["b6e18e2a.940308","bb984454.9066b"]]},{"id":"b6e18e2a.940308","type":"change","z":"66699563.3a72fc","name":"","rules":[{"t":"set","p":"device_IP","pt":"msg","to":"192.168.86.25","tot":"str"},{"t":"set","p":"airFlow","pt":"msg","to":"21","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[[]]},{"id":"636815ca.4de174","type":"debug","z":"66699563.3a72fc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1030,"y":80,"wires":[]},{"id":"bb984454.9066b","type":"function","z":"66699563.3a72fc","name":"request_setup","func":"msg.device_IP = \"192.168.86.25\"\nmsg.airFlow = 21\nmsg.headers = {\n    \"Authorization\" : \"Basic YWRtaW46MTYwMUxhc3BsdW1hcw==\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["1383dfc2.a5fe48"]]},{"id":"e1b0fa15.261908","type":"function","z":"f20148e8.b2d748","name":"auth_setup","func":"msg.device_IP = \"192.168.86.25\"\nmsg.zoneTemp = 1\nmsg.headers = {\n    \"Authorization\" : \"Basic YWRtaW46MTYwMUxhc3BsdW1hcw==\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["8d020a6c.093eb"]]},{"id":"abcfafac.70478","type":"function","z":"f20148e8.b2d748","name":"auth_setup","func":"msg.device_IP = \"192.168.86.25\"\nmsg.airFlow = 21\nmsg.headers = {\n    \"Authorization\" : \"Basic YWRtaW46MTYwMUxhc3BsdW1hcw==\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["1c6f1078.ba6f2"]]}]